.menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background-color: transparent;
  position: relative;
  z-index: 11; }
  @media (max-width: 1024px) {
    .menu-btn {
      display: block; } }
  @media (max-width: 768px) {
    .menu-btn {
      width: 24px;
      overflow: hidden; } }

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -18px;
  width: 35px;
  height: 3px;
  background-color: #222; }

.menu-btn span {
  background-color: #ff4a85; }

.menu-btn span::before {
  background-color: #ff2f96; }

.menu-btn span::after {
  background-color: #ff8f5a; }

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.menu-btn span::before {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px); }

.menu-btn span::after {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px); }

.menu-btn_active span {
  height: 0; }

.menu-btn_active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-btn_active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.stop-scroll {
  height: 100%;
  overflow: hidden; }
